.cvf {
    color: red;
    text-align: center;
}

.asd{
    text-align: center;
}

h3 {
    color: blueviolet;
    text-align: center;
    font-size: 30px;
}

.das {
    text-align: center;
}

.qwe {
    color: rgb(190, 190, 62);
    text-align: center;
}

ul {
    margin-left: 540px;
}

.tyu {
    text-align: center;
    color: blueviolet;
}

ol {
    margin-left: 400px;
    margin-right: 400px;
}

.uıo {
    color: blueviolet;
    text-align: center;
}